<% provide(:title, "収入科目登録") %>
<% provide(:class_text, 'income--new' ) %>
<% provide(:btn_text, "登録") %>
<h2>収入科目新規登録</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3" %>
    <%= form_with(model: @user, url: user_incomes_path(current_user), method: :post, local: true) do |f| %>
      <%= f.fields_for 'incomes[]', @income do |i| %>
        <%= i.label :income_name, class: "label-#{yield(:class_text)}" %>
        <%= i.text_field :income_name, class: "form-control" %>
      <% end %>

      <%= f.submit yield(:btn_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
    <% end %>
  </div>
</div>